@using BOL.RoleName;

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
    <div class="container">
        <button class="btn btn-info" onclick="ParkingSystem()" style="background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important; border-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important; font-size: x-large; font-weight: bolder;">Parking System</button>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</nav>